In [1]:
import pandas as pd
from decimal import Decimal

## Inlezen en cleanen

In [2]:
df = pd.read_csv('attracties 12-05-2019 1647.csv', sep=';', index_col='ta_id', dtype={'telefoon': str})
df.loc[:, ('lat', 'lon')] = df.loc[:, ('lat', 'lon')].applymap(lambda x: round(x, 6))
df['beoordeling'] = df['beoordeling'].astype('str').str.replace('.',',')                                                                                      
cols = ['plaats', 'postcode', 'adres', 'pc_stad', 'telefoon']
df.loc[:, cols] = df.loc[:, cols].fillna('LEEG')
df.loc[266764, 'plaats'] = 'Overveen'
df.loc[319471, 'plaats'] = 'Lelystad'
df.loc[279066, 'plaats'] = 'Wadden eilanden'
df.loc[1537814, 'plaats'] = 'Middenbeemster'
df.loc[10020584, 'plaats'] = 'Hoofddorp'
df.loc[8841157, 'plaats'] = 'Aalsmeerderbrug'

In [7]:
mra_plaatsen = [
    'Amsterdam',
    'Haarlem',
    'Zaandam',
    'Almere',
    'Amstelveen',
    'Hilversum',
    'Volendam',
    'Zandvoort',
    'Lelystad',
    'Aalsmeer',
    'Purmerend',
    'Ijmuiden Velsen',
    'Weesp',
    'Naarden',
    'Hoofddorp',
    'Heemstede',
    'Edam',
    'Schiphol',
    'Bloemendaal',
    'Muiden',
    'Monnickendam',
    'Beverwijk',
    'Laren',
    'Bussum',
    'Wijk aan Zee',
    'Marken',
    'Loosdrecht',
    'Ouderkerk aan de Amstel Amstelveen',
    'Huizen',
    's-Graveland',
    'Heemskerk',
    'Overveen',
    'Velsen-Zuid Velsen',
    'Zaandijk',
    'Nieuw-Vennep',
    'Spaarndam',
    'Koog aan de Zaan',
    'Uitgeest',
    'Diemen',
    'Uithoorn',
    'Landsmeer',
    'Middenbeemster',
    'Blaricum',
    'Badhoevedorp',
    'Katwoude',
    'Wormerveer',
    'Broek in Waterland',
    'Kortenhoef',
    'Sloten',
    'Spaarnwoude',
    'Muiderberg',
    'Nederhorst den Berg',
    'Bennebroek',
    'Santpoort-Zuid Velsen',
    'Westzaan',
    'Vogelenzang',
    'Krommenie',
    'Breukeleveen',
    'Vijfhuizen',
    'Oud-Loosdrecht',
    'BM', # stukje postcode
    'De Kwakel',
    'Den Ilp',
    'Buitenkaag',
    'Wijdewormer',
    'Oostzaan',
    'Velsen-Noord Velsen',
    'LZ', # stukje postcode
    'NV', # stukje postcode
    'Kudelstaart',
    'Uitdam',
    'Bentveld',
    'Zaanstad',
    'Lisserbroek',
    'Westbeemster',
    'Zuiderwoude Monnickendam',
    'Cruquius',
    'Driehuis Velsen',
    'Halfweg'
    'Aalsmeerderbrug'
]
df_mra = df.loc[df.plaats.isin(mra_plaatsen)]

In [6]:
df_mra.to_csv('attracties.120519.MRA.csv', sep=';', decimal=',', float_format='% .6f')

## Koppelbestand

In [8]:
oud = pd.read_csv('koppelbestand.csv', sep=';')

In [5]:
koppel = df_mra.reset_index().merge(oud, how='left', right_on='tripadvisor_id', left_on='ta_id', validate='one_to_many')

In [ ]:
koppel.to_csv('gekoppeld3.csv', index=False, sep=';', decimal=',', float_format='% .6f')

## Kaart plotten

In [27]:
df_mra.head()

,status,titel,attrac_url,beoordeling,adres,pc_stad,postcode,plaats,land,telefoon,...,categorie_Outdoor Activities,categorie_Shopping,categorie_Sights & Landmarks,categorie_Spas & Wellness,categorie_Tours,categorie_Transportation,categorie_Traveler Resources,categorie_Water & Amusement Parks,categorie_Zoos & Aquariums,geometry
ta_id,,,,,,,,,,,,,,,,,,,,,
14684883,NEW,"""Gaudi"" seats",/Attraction_Review-g188590-d14684883-Reviews-G...,"4,0",Nieuwmarkt,1011 JT Amsterdam,1011 JT,Amsterdam,The Netherlands,LEEG,...,0,0,1,0,0,0,0,0,0,POINT (52.371929 4.89994)
4187604,NEW,&Drinkz,/Attraction_Review-g188599-d4187604-Reviews-Dr...,"5,0",Haven 102a,1131 EV Volendam,1131 EV,Volendam,The Netherlands,+31626174289,...,0,0,0,0,0,0,0,0,0,POINT (52.493481 5.075162)
4736155,NEW,'T Haasje,/Attraction_Review-g188590-d4736155-Reviews-T_...,"4,5",Hazenstraat 50,1016 SR Amsterdam,1016 SR,Amsterdam,The Netherlands,+31206238507,...,0,1,0,0,0,0,0,0,0,POINT (52.370201 4.88014)
605626,NEW,'t Doktertje,/Attraction_Review-g188590-d605626-Reviews-T_D...,"5,0",Rozenboomsteeg 4,1012 PR Amsterdam,1012 PR,Amsterdam,The Netherlands,+31206264427,...,0,0,0,0,0,0,0,0,0,POINT (52.36919 4.89095)
12406253,NEW,'t Kaashart,/Attraction_Review-g188599-d12406253-Reviews-T...,"0,0",Plutostraat 40b,1131 WG Volendam,1131 WG,Volendam,The Netherlands,+31299322003,...,0,1,0,0,0,0,0,0,0,POINT (52.49683 5.06453)

In [9]:
import folium
from folium.plugins import MarkerCluster, FastMarkerCluster
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt

%matplotlib inline
CRS = '+proj=sterea +lat_0=52.15616055555555 +lon_0=5.38763888888889 +k=0.9999079 +x_0=155000 +y_0=463000 +ellps=bessel +units=m +towgs84=565.2369,50.0087,465.658,-0.406857330322398,0.350732676542563,-1.8703473836068,4.0812 +no_defs no_defs'

In [18]:
gdf = gpd.GeoDataFrame(df_mra, geometry=gpd.points_from_xy(df_mra.lat, df_mra.lon), crs=CRS)

In [57]:
cb =  """
function (row) {
    var icon0 = L.AwesomeMarkers.icon({
        prefix: 'fa',
        icon: 'coffee',
        markerColor: 'blue',
        iconColor: 'white'
    });
    var icon1 = L.AwesomeMarkers.icon({
        prefix: 'fa',
        icon: 'blind',
        markerColor: 'red',
        iconColor: 'white'
    });
    var marker = L.marker(new L.LatLng(row[0], row[1]));
    if (row[4] == 1){
        marker.setIcon(icon1);
    } else {
        marker.setIcon(icon0)
    }
    marker.bindPopup('<h3>'+row[2]+'</h3>'+'</br>'+row[3]);
    return marker;
};
"""

In [58]:
m = folium.Map(location=[52.38, 4.9], zoom_start=11)

m.add_child(
    FastMarkerCluster(
        df_mra[['lat', 'lon', 'titel', 'adres', 'categorie_Tours']].values.tolist(), 
        callback=cb
    )
)

m.save('kaartje.html')

In [38]:
!kaartje.html